name: Lint and Build

on: [ push, pull_request ]

jobs:
    lint:
        # Run for external PRs, but not on our own internal PRs as they'll be run by the push to the branch.
        # Don't run for tag pushes
        if: (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != 'DoctorMcKay/node-websocket13') ||
            (github.event_name == 'push' && startsWith(github.event.ref, 'refs/heads'))

        uses: DoctorMcKay/github-workflows/.github/workflows/eslint.yml@master
        with:
            node-version: 12.x

    build:
        # Run for external PRs, but not on our own internal PRs as they'll be run by the push to the branch.
        # Don't run for tag pushes
        if: |
            (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != 'DoctorMcKay/node-websocket13') ||
            (github.event_name == 'push' && startsWith(github.event.ref, 'refs/heads'))

        uses: DoctorMcKay/github-workflows/.github/workflows/npm-pack.yml@master
        with:
            node-version: 12.x
            package-name: websocket13

    test:
        needs: build
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [ 12.x, 14.x, 16.x, 18.x, 20.x ]

        steps:
            -   uses: actions/checkout@v3
                with:
                    fetch-depth: 1

            -   name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@v3
                with:
                    node-version: ${{ matrix.node-version }}

            -   name: Download artifact
                uses: actions/download-artifact@v4.1.7
                with:
                    name: package
                    path: ~/ws13-test

            -   name: Install package
                run: |
                    cd ~/ws13-test
                    mv websocket13-*.tgz websocket13.tgz
                    npm install websocket13.tgz
                    cp ~/work/node-websocket13/node-websocket13/test/test-lib.js .
                    ls
                    npm ls

            -   name: Run test
                run: |
                    cd ~/ws13-test
                    node test-lib.js

    publish:
        needs: [lint, test]
        if: success() && github.event.ref == 'refs/heads/master' && contains(github.event.head_commit.message, '#npm-publish')
        uses: DoctorMcKay/github-workflows/.github/workflows/npm-publish.yml@master
        secrets:
            npm-access-token: ${{ secrets.NPM_ACCESS_TOKEN }}
